#console-container {
    display: flex;
    width: 384px;
    height: 80px;
    background-color: #1e1e2e;
    border: 3px solid pink;
    border-radius: 4px;
}

#console{
    background: #1e1e2e;
    margin: 0px 10px ;
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 20px;
}

.typewriter{
    overflow: hidden; 
    font-size: 100% ;
    border-right: .15em solid rgb(255, 107, 107);
    white-space: nowrap;
    margin: auto 0;
    letter-spacing: .12em; 
    color:white;
    animation: 
        typing 3s steps(40, end),
        blink-caret 1s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 107, 107); }
}